*{
    margin:0;
    padding:0;
   
    
}

body{
    background-color: #000;
}

.home {
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, rgba(39, 39, 39, 0.5), rgba(39, 39, 39, 0.2)), url("images/StinkyMarkOnStage.png") center ;
    background-repeat: no-repeat;
    background-size: cover;
  }


  .home h1{
    color:yellow;
    font-size: 8rem;
    font-family: customHeader;
  }

  .home p{
    color:yellow;
    font-size: 2rem;
    font-family: customHeader;
    padding-bottom: 1rem;
  }

  .message p{
    font-family: customHeader;
    font-size: 2.3rem;
    color: #fff;;

  }


    input[type=text] {
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }
  


  @font-face {
    font-family: 'customHeader';
    src: 
         url('fonts/MarvinVisions-Bold.woff') format('woff'),
         url('fonts/MarvinVisions-Bold.woff2') format('woff2');
  }